/************************regular elements*******************/
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap');

a {
  color: #11999E;
  text-decoration: none;
}

a:hover {
  color: #4d648d;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 30px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-align: center;
  margin: 5px auto;
  width: 50%;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 3%;
  border-width: 6px;
  border-color: #283655;
}



header {
  background-color: #283655;
  line-height: 0.5;
  margin: 0 0 50px 0;
  padding: 50px 0;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.7)), url("../images/3DModel.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

body {
  background-color: #d0e1f9;
  color: #40514E;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 2;
  margin: 0;
  text-align: center;
}

.in-front {
  z-index: 25;
}

footer {
  background-color: #283655;
  height: 125px;
  margin-top: 75px;
  padding-top: 50px;
  line-height: 2.25;
}
/***************************reusable elements******************/
.row {
  margin: 50px auto;
  width: 70%;
  text-align: left;
  line-height: 1.6;
  font-size: 16px;
  
}



/***************************sections******************/

.about-me {
  color: #40514E;
  width: 30%;
  margin: 0 auto;
}



.middle-container {
  padding: 25px 0;

}

.above-contact {
  width: 40%;
  margin: 50px auto;
}



.skill-row {
  margin: 50px auto;
  width: 65%;
  text-align: left;
  line-height: 2;
}

/*******************Experience***************/


.experience li {
  list-style: none;
  padding: 10px 0;
  text-align: justify;
  }


.publications li {
  list-style: none;
  padding-left: 0;
  padding: 0 0 25px 0;
  text-align: left;
}


/***************************emphasis******************/
.STEM {
  text-decoration: underline;
}

.subtitle {
  font-weight: normal;
}

.copyright {
  color: #EAF6F6;
  padding-top: 15px;
  font-family: 'Merriweather', serif;
  font-size: small;
  font-weight: 600;
}


/***************************images******************/

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.profile-pic {
  border-radius: 35%;
  height: 150px;
  width: auto;
  /**padding-top: 25px;**/
}

.apple-img {
  width: 115px;
  float: left;
  border-radius: 50%;
  margin-right: 15px;
}

.computer-img {
  float: right;
  width: 115px;
  border-radius: 50%;
  margin-left: 5px;
}

.flag-small {
  width: 15px;
  padding-right: 10px;
  border-radius: 50px;
}

.model {
width: 100%;
padding: 0;

}


/***************************buttons******************/

.testbutton {
  font-family: Montserrat;
  color: #FFFFFF !important;
  font-size: 12px;
  text-shadow: 1px 1px 3px #66BFBF;
  box-shadow: 1px 1px 1px #BEE2F9;
  padding: 10px 25px;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 3px double #66BFBF;
  background: #66BFBF;
}

.testbutton:hover {
  color: #FFFFFF !important;
  background: #30e3cb;
  background: linear-gradient(top, ##30e3cb, #2bc4ad);
  background: -ms-linear-gradient(top, ##30e3cb, #2bc4ad);
  background: -webkit-gradient(linear, left top, left bottom, from(#30e3cb), to(#2bc4ad));
  background: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
}

.footer-link {
  padding: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-decoration: none;
}



/***************************buttons******************/

.stars li {
list-style: none;
display: inline-block;
}

.icon {
  font-size: 200%;

}

.icon-social-facebook,
.icon-social-twitter,
.icon-social-git-hub {
  transition: color 0.2s;

}

.icon-social-linkedin:hover {
  color: #0077b5;
}
.icon-social-twitter:hover {
  color: #55acee;
}
.icon-social-git-hub:hover {
  color: #4183c4
}


.intro {
  /* line-height: 0.5;
  margin: 0 auto;
  padding: 50px 0; */

}
.stuck {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0px;
  
  
}