/*********resume*******/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    border-color: gray;
    width: 25%;
    margin: 0 auto;
    padding: 5px 0;
}

h1,
h3 {
    color: #D0E1F9;
    font-family: 'Garamond', serif;
    font-size: 35px;
}

h5 {

    color: #D0E1F9;
    font-family: 'Garamond', serif;
    font-size: 14px;
    margin: 2px auto;
    text-align: center;
}

body {

    background-color: #EAF6F6;
    width: 50%;
    
    margin: 0px auto 0px auto;
}

p {
    font-family: "Merriweather";
    font-size: 10pt;
}

.knh{
    padding-top: 10px;
    text-align: center;
}

.header-cv {
text-align: center;
font-weight: 600;
font-size: 20px;
}

.header-cv-main {
    font-weight: 600;
    font-size: 20px;
    padding: 5px 0 5px ;

}

.row {
    padding: 4px 0px;

}

.side-row {
    padding: 1px 2px 1px 5px;
    color: #EAF6F6;
    font-size: 11pt;
    text-align: center;
}

.section-main {
    width: 70%;
    float: right;
    padding: 8px 10px 10px 10px;
    text-align: justify;
    background-color: #fff;
    height: 11in;
}

.section-side {
    width: 30%;
    float: left;
    background-color: #1e1f26;
    height: 11in;
}

.info-cv {
    background-color:
}

.pubs{ 
    padding-bottom: 20px;
}


.cvname {
    font-size: 35px;
}

.position-cv,
.company-cv,
.location-cv,
.date-worked-cv {
    float: left;
    font-weight: 700;
    font-size: 11pt;
}

.position-cv {}

.company-cv {}

.location-cv {}



.date-worked-cv {}


.header-cv {
   

}