
* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

hr {
border-style: none;
border-top-style: dotted;
border-width: 6px;
border-color: gray;
width: 6%;
}

h1, h3 {
  color: #66BFBF;
}

body {

background-color: #EAF6F6;

}

p {
    font-family: "Georgia";
    font-size: 10.5pt;
}


.container-cv {

    width: 8.5in;
    height: 11in;
    margin: 0px auto 0px auto;

}

.main-body-cv {
    width: 73%;
    float: right;
    padding: 8px 10px 10px 10px;
    text-align: justify;
}

.side-bar-cv {
    width: 27%;
    float: left;
    padding: 0 0 5px 6px;
    background-color: #9e9da2
}

.info-cv {
    background-color:
}



.cvname {
    font-size: 35px;
}

.position-cv,.company-cv,.location-cv,.date-worked-cv {
    float: left;
    padding-right: 2px;
    font-weight: 700;
    font-size: 12pt;
}

.position-cv {


}

.company-cv {


}

.location-cv {

}



.date-worked-cv {

}


.header-cv {
    font-weight: 600;
    font-size: 20px;

}
